/* Basic */
@-ms-viewport {
  width: device-width; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }

html {
  box-sizing: border-box; 
  color: white
}

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%;
  overflow: hidden;
 }
  @media screen and (max-height: 640px) {
    html, body {
      height: auto;
      min-height: 100%; } }

  body {overflow: scroll;}

/* Top bar styles */
.top-bar {
  padding: 0.4em 0em 0em 4em; 
  position: fixed; /* Keeps the bar at the top even when scrolling */
  top: 0;
  left: 0;
  width: 100%; /* Spans the full width of the page */
  height:65px; /* Adjust the height as needed */
  color: white;
  background-color: #202020; /* White background */
  z-index: 1000; /* Ensures the bar stays above other content */
  border-bottom: 3px dashed lightgray; /* Optional: adds a subtle border */
  white-space: pre; /* was pre-line */
  line-height: 0.5;
}

.top-bar img {
  vertical-align: middle;
}

body {
  justify-content: left;
  background-color: #000;
  padding: 4em 4em 4em 4em; 
  line-height: 1.5;
}

table {
  border:0px solid red;
  /* border-collapse: collapse; */
  color: white;
  border-spacing: 0;
  justify-content: center;
  text-align: center;
}

.display thead {
  text-align: center;
}

.display th {
  background-color: #202020;
  text-align: center;
}

.display tr:nth-child(even) {
  background-color: #161616;
}

.center-div {
  justify-content: center;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: .2rem;
  background: #000;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 14;
  line-height: 1.2;
  white-space: pre;
}

p {
  white-space: pre;
  font-weight: normal;
}